
.intro {
    background: url('/images/portfolioPic.jpg') no-repeat;
    background-position: 25% 50%;
    background-size: cover;
    margin-top: 2.25em;
    padding-top: 25%;
    padding-bottom: 25%;
}
.intro h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: rgb(252, 227, 2);
    font-weight: bolder;
    letter-spacing: 8px;
}