/* NAV CSS */

#test, #learn, #home, #events, #myevents, #login, #accountInfo {
    color: white;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    display: block;
    padding: .5rem .5rem;
    text-decoration: none;
}

#nav-message .nav-message {
    position: absolute;
    right: 5px;
}

.nav-message {
    position: absolute;
    top: 105%;
}

#navbarNavAltMarkup {
    float: right;
}

.navbar-nav {
    float: right;
}

#logo {
    max-width: 4rem;
}

a {
    color: white;
}

nav {
    background:rgba(255,255,255,0.5);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

nav.hidden {
    transform: translate3d(0,-100%,0);
}